body{
    background-color:#f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:30%;
    margin-right:30%;
    background: url(rohit-tandon-ku79qGpxWXQ-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}

#applink{
    /* text-align: center;
    background-color:#ecf0f1;
    box-shadow: 0 0 5px 10px #ecf0f1;
    opacity: 0.5; */
}

#back{
    text-align: center;
    background-color:#ecf0f1;
    box-shadow: 0 0 5px 10px #ecf0f1;
    opacity: 0.5;
    height:100%;
    width: 100%;
}
h1{
    font-weight: bolder;
}
